.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  margin: 5rem auto 0;
  max-width: 720px;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  time {
    font-size: 1rem;
    color: var(--grey-300);
    display: block;
    margin-top: 1.5rem;
  }

  .postContent {
    margin-top: 2rem;
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--grey-100);

    ul,
    p,
    pre {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    &.previewContent {
      background: linear-gradient(var(--grey-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.continueReading {
  padding: 2rem;
  font-weight: bold;
  border-radius: 100px;
  text-align: center;
  margin: 4rem 0 2rem;
  font-size: 1.25rem;
  background: var(--grey-850);
  transition: background 0.5s;

  &:hover {
    background: var(--grey-800);
  }

  a {
    margin-left: 0.5rem;
    color: var(--yellow-500);

    &:hover {
      text-decoration: underline;
    }
  }
}
