.subscribeButton {
  background: var(--yellow-500);
  height: 4rem;
  border-radius: 2rem;
  border: 0;
  color: var(--grey-900);
  padding: 0 4rem;
  font-weight: bold;
  font-size: 1.25rem;
  transition: filter 0.2s;

  &:hover {
      filter: brightness(0.8);
  }
}
